

header {
	text-align: center;
	font-size: 24px;
	color: white;
	background-color: #483537 ;
	height: 80px;
	padding-top: 20px;
}

.succes {
	color: green;
	font-weight: bold;
}

.erreur {
	color: red;
	font-weight: bold;
}

fieldset{
	text-align: center;
	margin: 20px;
}

main{
	padding: 30px;
	font-family: 'Oxygen', sans-serif;
	background-color: #FEFDF5;
}

container{
	margin: 0 auto;
}

.background{
		background-color: #F1F1F1;
		padding: 15px;
		border-radius: 10px;
		margin-left: 200px;	
		margin-right: 200px;	
}


form{
	display: block;
	text-align: center;
}

.text-center{
	margin: auto 0;
} 

#identifiant {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 0.5px;
	padding: 4px;
	margin-left: 20px;
}

#motdepasse {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 0.5px;
	padding: 4px;
}


div label {
	margin: 8px;
	display: inline-block;
	
}


/* Page acceuil !! */

.index h1 {
	font-size: 25px;
	}

first-nav {
	display: inline-block;
}

.index section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.index article{
	display: flex;
}

.index h2 {
	font-size: 26px;
	color: #464340;
}