


main{

	 
     
    margin-top: 50px ;
    margin-left: auto;
    margin-right: auto;
    
}

.element{

    display: flex;
    justify-content: space-around;

}

.element2{

    
    margin-left: 200px;
    margin-right: 100px;
    margin-topt: 200px;

}

#img{

    height: 200px;
}

h1{

    background: #e6f2ff;
    height: 130px;
    line-height: 150;
}

.succes {
	color: green;
	font-weight: bold;
}

.erreur {
	color: red;
	font-weight: bold;
}

fieldset{
	text-align: center;
	margin: 20px;
}



.container{
	margin: 0 auto;
}

.background{
		background-color: #F1F1F1;
		padding: 15px;
		border-radius: 10px;
		margin-left: 200px;	
		margin-right: 200px;	
}


form{
	display: block;
	text-align: center;
}

.text-center{
	margin: auto 0;
} 

#identifiant {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 0.5px;
	padding: 4px;
	margin-left: 20px;
}

#motdepasse {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 0.5px;
	padding: 4px;
}


div label {
	margin: 8px;
	display: inline-block;
	
}


/* Page acceuil !! */

.index h1 {
	font-size: 25px;
	}

first-nav {
	display: inline-block;
}

.index section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.index article{
	display: flex;
}

.index h2 {
	font-size: 26px;
	color: #464340;
}

/***** Formulaire inscription *****/
.inscription{
	min-height: 70vh;
	display: flex;
	justify-content : center;
	align-items : center;	
}
#formulairePrincipal{
	
	display: flex;	
	flex-direction: row;
	justify-content : center;
	text-align: right;

}
#formGauche, #formDroit{
	margin : 10px;
}

#images_petit {
width:5px;
height:5px;
}

img {
width:100px;
height:100px;
}


.element3{
	
	display: flex;	 
	margin-left: 200px;
	margin-right: 200px;
	background: #e6f2ff;
	border-radius: 7px;
}

legend{
	
	text-align: center
}

li {
	
	list-style:none;
}

select{
	
	border-radius: 7px;
	padding-right:20px ;
	height:37px;
	
}







