
header nav{
	height: 70px;
}

main{
 
    
    margin-left: auto;
    margin-right: auto;
    
}

.element{

    display: flex;
    justify-content: space-around;

}

.element2{

    
    margin-left: 200px;
    margin-right: 100px;
    margin-topt: 200px;

}

#img{

    height: 200px;
}

h1{
	background: linear-gradient(#7C90A3, #9FB4C8);
    color: white;
    font-family: 'Nunito', sans-serif;
    height: 130px;
   padding-top: 40px;
}

.succes {
	color: green;
	font-weight: bold;
}

.erreur {
	color: red;
	font-weight: bold;
}

fieldset{
	text-align: center;
	margin: 20px;
}

.blue{
	display: flex;	 
	margin-left: 200px;
	margin-right: 200px;
	background: #e6f2ff;
	border-radius: 7px;
	margin-bottom: 25px;
}

.container{
	margin: 0 auto;
}

.background{
		background-color: #F1F1F1;
		padding: 15px;
		border-radius: 10px;
		margin-left: 200px;	
		margin-right: 200px;	
}

.connexion {
	padding-top: 120px;
}

.connexion strong {
	font-size: 26px;
	color: #747575;
}

.connexion legend {
	
}

form{
	display: block;
	text-align: center;
}

.text-center{
	margin: auto 0;
} 

#identifiant {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 0.5px;
	padding: 4px;
	margin-left: 20px;
}

#motdepasse {
	width: 200px;
	height: 30px;
	border-radius: 5px;
	border-color: #D5D5D5;
	border-style: solid;
	border-width: 0.5px;
	padding: 4px;
}


div label {
	margin: 8px;
	display: inline-block;
	
}


/* Page acceuil !! */

i.fas{
	margin-right: 10px;
	color: #6CD3D6;
	}


first-nav {
	display: inline-block;
}

.index section {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.index article{
	display: flex;
}

.index h2 {
	font-size: 26px;
	color: #464340;
}

.element{
	vertical-align: top;
}



/***** Formulaire inscription *****/
.inscription{
	min-height: 70vh;
	display: flex;
	justify-content : center;
	align-items : center;	
}
#formulairePrincipal{
	
	display: flex;	
	flex-direction: row;
	justify-content : center;
	text-align: right;

}
#formGauche, #formDroit{
	margin-left: 10px;
	margin-right: 10px;
}

#images_petit {
width:5px;
height:5px;
}

img {
width:100px;
height:100px;
}


.element3{
	
	display: flex;	 
	margin-left: 200px;
	margin-right: 200px;
	background: #e6f2ff;
	border-radius: 7px;
}

legend{
	
	text-align: center
}

li {
	
	list-style:none;
}

select{
	
	border-radius: 7px;
	padding-right:20px ;
	height:37px;
	 
	
}

/************ Page profil  ************/

tr {
	text-align: left;
}

th{
	font-weight: ;
	color: #606060;
}

#information{
	font-size: 20px;
	font-weight: bold;
	color: #506267;
}

/********** Page modifier profil  *************/

.element4{  
    margin-left: 600px;
}

.element5{
   margin-left: 200px;
    margin-right: 100px;
    
 
}


/************ Page Vente article ************/

.vente h2{
	font-size: 30px;
	color: 3C3C3C;
	margin: 25px;
}

.vente legend{
	padding-right: 60px;
}

#retrait{
	
	
}